{% extends "base.html" %}
{% load i18n %}
{% block content %}
{% if user.is_authenticated %}

    <div class="alert alert-info">
    {% blocktrans %}
    Interface for regular user does not implemented yet.
    {% endblocktrans %}
    </div>

{% else %}
    
    <div class="alert alert-warning">
    {% blocktrans %}
    Only user with special permission can use this service.
    {% endblocktrans %}
    </div>
    
    {% if not user.is_authenticated %}
        <div class="row-fluid">
        <div class="span3 offset3">
        <a class="btn btn-success btn-block" href="/accounts/login/">{% trans "Log in" %}</a>
        </div>
        <div class="span3">
        <a class="btn btn-warning btn-block" href="{% url 'request_invite' %}">{% trans "Request invite" %}</a>
        </div>
        </div>
    {% endif %}

{% endif %}
{% endblock %}