{% extends "admin/base_site.html" %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    {{ form }}
    <input type="hidden" name="action" value="update_extension"/>
    <input type="hidden" name="_selected_action" value="{{ selected_action }}">
    <br/><input type="submit" class="btn" name="apply" value="Обновить" />
</form>
<script type="text/javascript">
	{% for project, version in projects_version.items %}
		$('input[value="{{ project }}"]')[0].parentElement.innerHTML += " ({{ version|safe }})"
	{% endfor %}
</script>
<style>
b {color: red;}
</style>
{% endblock %}
