{% extends "admin/base_site.html" %}
{% load i18n %}
{% block extrahead %}
<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="{{STATIC_URL}}jqplot/excanvas.js"></script><![endif]-->
<script language="javascript" type="text/javascript" src="{{STATIC_URL}}jqplot/jquery.jqplot.min.js"></script>
<script language="javascript" type="text/javascript" src="{{STATIC_URL}}jqplot/plugins/jqplot.dateAxisRenderer.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}jqplot/plugins/jqplot.highlighter.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}jqplot/plugins/jqplot.pointLabels.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}jqplot/jquery.jqplot.css" />
{{ block.super }}
{% endblock %}


{% block content %}
<div id="statistic">
    <div class="row-fluid">
        <div class="span9" style="display:inline-block; text-align:center;">
            <div class="btn-group">
                <a class="btn" href="{{ link }}?type=15min">{% trans "Last 15 minutes" %}</a>
                <a class="btn" href="{{ link }}?type=1hr">{% trans "Last hour" %}</a>
                <a class="btn" href="{{ link }}?type=4hr">{% trans "Last 4 hours" %}</a>
                <a class="btn" href="{{ link }}?type=12hr">{% trans "Last 12 hours" %}</a>
                <a class="btn" href="{{ link }}?type=1day">{% trans "Last day" %}</a>
                <a class="btn" href="{{ link }}?type=7day">{% trans "Last 7 days" %}</a>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span9">
            <div id="chartdiv" style="height:400px;"></div>
        </div>
        <div class="span3">
            {% trans "Average time response:" %} {{ average_time }}<br/>
            {% if down_times %}
                {% trans "Downs:" %}<br/>
                {% for down_time in down_times %}
                    {{ down_time }}<br/>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            var line1={{data|safe}};
            line1.forEach(function(entry) {
                if (entry[2] == "None"){entry[2]=null;}
            });
            var line2={{error|safe}};
            line2.forEach(function(entry) {
                if (entry[2] == "None"){entry[2]=null;}
            });

            var plot = $.jqplot('chartdiv', [line1, line2], {
                title:'{{ title }}', 
                axes:{
                    xaxis:{
                        renderer:$.jqplot.DateAxisRenderer, 
                        tickOptions:{formatString:'{{ format }}'},
                    }
                },
                series: [
                    {
                        showMarker:true,
                    },
                    {
                        showLine: false,
                        color: 'red',
                    },
                ],

                highlighter: {
                    show: true,
                    sizeAdjust: 7.5,
                    yvalues: 3,
                    formatString:'<table class="jqplot-highlighter"><tr><td>{% trans "Date" %}:</td><td>%s</td></tr><tr><td>{% trans "Time repsonse" %}:</td><td>%s</td></tr><tr><td>{% trans "Status code" %}:</td><td>%s</td></tr></table>'
                  },

            });
        });
        setTimeout(function(){
            $.ajax({
                url: "/ajax-custom-statistic/{{ id }}/?" + window.location.href.split('?')[1],
                dataType: "json",
                success: function(msg){
                    var ajax_render = $('<div/>')
                    ajax_render[0].innerHTML =(msg['html']);
                    $('#statistic').html(ajax_render.find('#statistic')[0].innerHTML);

                }
            })
        },
        60000);
    </script>
</div>
{% endblock %}