{% load i18n %}
{% load activeurl %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="{{ STATIC_URL }}vendor/jquery.js"></script>

    <!-- Styles -->
    <link href="{{ STATIC_URL }}vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}vendor/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}vendor/fontawesome/css/font-awesome.min.css" rel="stylesheet">
    <!--[if IE 7]>
    <link rel="stylesheet" href="{{ STATIC_URL }}vendor/fontawesome/css/font-awesome-ie7.min.css">
    <![endif]-->
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->    
    <style type="text/css">
        body {
            background-image: url(/static/documentation/img/background.png);
        }
    </style>
    {% block head_extras %}{% endblock %}
  </head>
  <body>    
    <div class="container-fluid">
    {% if messages %}
    <div class="row-fluid">
    <div class="span12">
        {% for message in messages %}
        <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
    </div>
    </div>
    {% endif %}

    <div class="row-fluid"><div class="span12">
    {% block content %}{% endblock %}    
    </div></div>
    </div> <!-- /container -->
    <!-- Import javascript -->
    <script src="{{ STATIC_URL }}vendor/holder.js"></script>
    <script src="{{ STATIC_URL }}vendor/bootstrap/js/bootstrap.min.js"></script>
    {% block body_extras %}{% endblock %}    
  </body>
</html>
