{% extends "documentation/base.html" %}
{% load i18n %}
{% block content %}
<h4>{{ object.title }}</h4>

<article>
{{ object.body|safe }}
</article>

<p>    
    <em>{% trans 'Last update:' %} {{ object.last_edited }}</em>
</p>
{% endblock %}