{% extends "base.html" %}
{% load i18n bootstrap_toolkit %}

{% block content %}
<h3>{% trans "Log in" %}</h3>
<form method="post" class="form-vertical">
{% csrf_token %}
{{ form|as_bootstrap:"vertical" }}
<div class="form-actions">
<input class="btn btn-primary" type="submit" name="submit" value="{% trans 'Login' %}" />
<input type="hidden" name="next" value="{{ next }}" />
</div>
</form>
{% endblock %}