{% load i18n %}
{% if user.is_authenticated %}
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        {{ user.nickname }} <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li><a href="javascript:alert('Not implemented yet.')">{% trans "Cabinet" %}</a></li>
        {% if user.is_staff %}
        <li><a href="{% url 'admin:index' %}">{% trans "Admin panel" %}</a></li>
        {% endif %}
        <li class="divider"></li>
        <li><a href="/accounts/logout/">{% trans "Logout" %}</a></li>
    </ul>
</li>
{% else %}
<li>
    <a href="/accounts/login/">{% trans "Login" %}</a>
</li>
{% endif %}