{% extends "admin/base_site.html" %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    {{ form }}
    <input type="hidden" name="action" value="{{ action_name }}"/>
    <input type="hidden" name="_selected_action" value="{{ selected_action }}">
    <br/><input type="submit" class="btn" name="apply" value="{{ button_name }}" />
</form>
{% endblock %}