{% extends "admin/base_site.html" %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    {{ form }}
    <input type="hidden" name="action" value="start_new_project"/>
    <input type="hidden" name="_selected_action" value="{{ selected_action }}">
    <br/><input type="submit" class="btn" name="apply" value="Создать" />
</form>
{% endblock %}