{% extends "admin/base_site.html" %}

{% block content %}
<textarea readonly="true" cols="40" id="pip_install" rows="15" class="span12">{{ text }}</textarea>
<script type="text/javascript">
	pip_install.select();
</script>
{% endblock %}