{% load i18n project_tags %}

<h4>{% trans "Path to project" %}:</h4>
<h4 style="margin-left:50px"> {{ path_to_project }}/</h4>
<h4>{% trans "Path to logs" %}:</h4>
<div style="margin-left:50px">
    {% for log in path_to_logs %}
       <h4>{{ log }}</h4>
    {% endfor %}
</div>
<input type="text" class="input-xxlarge" id="file_path"/>
<a class="btn" id="show_file" title="{% trans 'Edit' %}">{% trans "Edit" %}</a>

<script type="text/javascript">
    $('#show_file').click(function(){
        this.href = '/get-file-by-path/{{ project.server.id }}?path=' + $('#file_path')[0].value
        return showAddAnotherPopup(this);
    });
    $(document).ready(function() {
        timeout = setTimeout(timeout_trigger_change_size, 100);
    });
    function timeout_trigger_change_size()
    {
        if ($('.filtered'))
        {
            $('.filtered').attr('size', 25);
            $('.filtered').attr('style', '');
            clearTimeout(timeout);
        }
    }
</script>