{% extends "admin/base_site.html" %}
{% block title %}{% endblock %}
{% block extrahead %}
  {{ block.super }}
{% endblock %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    <textarea rows="20" class="field span12" name="text">{{ text }}</textarea>
    {% if not hide %}
    <br/><input type="submit" class="btn btn-success" name="apply" id="save-to-file" value="Изменить" />
    {% endif %}
</form>
<script type="text/javascript">
    $('#save-to-file').click(function(){
        setTimeout(close, 1000)
    });
</script>
{% endblock %}
